*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body{
	background-image: url("99810.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.login-form{
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;	
	text-shadow: 2px 2px 4px black;
}

.login-form h1{
        padding-top: 70px;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px, 0px;
	text-shadow: 2px 2px 6px black;
}

.login-form p{
	font-size: 20px;
	margin: 15px 0;
}

.login-form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.login-form button{
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 50%;
}